* {margin: 0px;
    padding: 0%;
    
    
    
}
.header {display: flex;
    background-color: greenyellow;
    padding: 12px 12px 20px 12px ;
    list-style-type: none;
    justify-content: space-between;
    
    



}

.a_header {
    padding: 12px 18px 30px 18px;
    margin: 8px 10px;
    display: flex;
    height: 1px;

    
    font-family: Arial, Helvetica, sans-serif;
   
    display: block;
    

}

.logo { height: 100px;
    width: auto;
    margin-bottom: 20px;
    


}

.header_buttons { display: flex;
    



}

a {text-decoration: none; }

.header a:hover {
    background-color: #dfffff;
    color: black;
    opacity: 1;
    transition-duration: 0.8s;
    border-radius: 20px;
  }

.header a.active {
    background-color: dodgerblue;
    color: rgb(135, 26, 26);
  }

#home_button {background-color: rgb(6, 211, 222);
    border-radius: 20px;
    ;
}

@media only screen and (min-width: 600px) {
    .header {height: 40px;}
    
  }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .header_buttons {
        float: none;
        display: block;
        text-align: left;
    }
    .header {
        float: none;
        display: block;
        text-align: left;
    }
  }

h1 { font-family: Arial, Helvetica, sans-serif;}

.footer  {display: flex;
    margin-top: 60px;
    background-color: greenyellow;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    width: 100%;
   
}

.footer div {margin: 8px;
    
}

.footer div h2 {margin: 0px 8px 8px 0px;}

.footer div p {margin: 2%;}

.footer1 {display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 300px;
    justify-content: space-between;
   

}

img {width: 250px;
    height: auto;
    border-radius: 20px;
}

.main {margin: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:1;
}
.main div {
    margin: 2%;

}

.main img:hover {
    background-color: #dfffff;
    color: black;
    opacity: 1;
    transition-duration: 0.8s;
    width: 275px;
    height: auto;
    
  }